/* // sorting filter  */
.sort-btn {
  padding: 0.8rem 1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sort-btn.active {
  background-color: #212529;
  color: #fff;
}

.product-data p {
  margin: 0;
}

/* ...................  */
.header-sec {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 7%);
}

/* WhatsApp chat button styling */
.whatsapp-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.whatsapp-chat:hover {
  background-color: #1ebe5d;
  cursor: pointer;
}

.whatsapp-chat svg {
  font-size: 30px;
  color: white;
}