@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/* @import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css"; */


:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0px;
  color: #000;
}

a {
  text-decoration: none;
}

.b-box {
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  background-color: #fff;
}

/* .btn {
  border-radius: 50px;
} */

.btn-dark {
  background-color: #23a094;
  border-color: #23a094;
}